.grafiche-card {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.grafiche-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
